* {
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    padding: 0;
    margin: 0;
}

.product-wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 25px;
}

.product-wrapper>ul {
    list-style: none;
}

.product-wrapper>ul>li {
    float: left;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    width: 250px;
    border: 1px solid rgb(101, 3, 180);
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: none;
}

.product__name {
    font-size: 2rem;
    font-weight: 600;
    padding: 5px;
}

.product__image {
    height: 50px;
    width: 100%;
    background: rgba(100, 3, 180, 0.192);
}

.product-inner {
    padding: 5px;
}

.product__price {}

.product__publishedon {}

.product__option {}

.checked {
    display: flex!important;
}

.filter__menu {
    /* position: fixed; */
    /* top: 94px; */
    /* top: 0;
    right: 0;
    z-index: 100; */
    width: 300px;
    height: 100vh;
    background: #fff;
    border: 2px solid #e78d83;
    padding: 15px;
    transition: 0.3s;
    opacity: 1;
}

.filter__menu-header {}

.filter__menu-body {}

.filter__menu-itemy {}

.sort-wrapper {
    width: 155px;
    border: 2px solid #e78d83;
    border-radius: 3px;
}

.sort {
    padding: 2px 5px;
    display: none;
}

.sort-current {
    background: #e78d83;
    padding: 5px;
    color: #fff;
    cursor: pointer;
    position: relative;
}

.sort-show {
    display: block;
}

.sort-current::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 6px;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.sort:nth-child(odd) {
    background: #ffebe9;
}

.sort:hover {
    background: #e78d83;
    cursor: pointer;
}